#app-container {
  max-width: 1500px;
  margin: 0px auto;
  background-color: bisque;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 15px 5px 0 5px;
  position: relative;
}

#my-data-container {
  margin-right: 5px;
}

#my-data-info-card {
  border: 5px solid rgb(219, 69, 24);
  min-height: 50px;
}

#lists-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 15px;
}

#lists-container h1 {
  text-align: center;
  font-weight: 700;
}

#visited-list-container {
  border: 5px solid blue;
  margin-right: 2px;
}

#wish-list-container {
  border: 5px solid green;
  margin-left: 2px;
}

#api-search-bar {
  border: 5px solid violet;
  padding: 15px 5px;
}
#search-input {
  width: 65%;
  margin-right: 7px;
}

#api-cards-container {
  border: 5px solid orange;
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 50%);
}

.city-card {
  border: 5px solid black;
  margin: 5px;
  cursor: pointer;
  padding: 3px;
}

.city-card:hover {
  background-color: rgb(233, 191, 139);
}

.full-info-card {
  position: absolute;
  min-width: 400px;
  border: 5px solid orange;
  background-color: lightgoldenrodyellow;
  top: 10vh;
  left: 40vh;
  filter: none;
  padding: 15px;
}

.full-info-card form {
  margin-top: 10px;
}

.full-info-card button {
  margin-right: 7px;
}

.full-info-card h1 {
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: 700;
}

.full-info-card .photo {
  width: 400px;
  margin-bottom: 10px;
}

#closeBtn {
  height: 30px;
  position: relative;
  cursor: pointer;
}

.userDataText {
  color: rgb(255 21 24);
}

#map {
  height: 300px;
  margin-top: 15px;
}

#statsContainer {
  padding: 5px;
}

#statsContainer p {
  margin-top: 7px;
}

#statsContainer h1 {
  font-weight: 700;
  text-align: center;
  padding-bottom: 10px;
}

#data-container p {
  padding-bottom: 7px;
}
